body {
  font: 14px "Rosario", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5dc;
}

a {
  color: #00B7FF;
}

#title {
  padding: 50px;
  background: #5f9ea0;
  color: white;
}

img.menubtn{
  width:100%;
}

div.item{
  margin: 3px;
  padding:10px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #778899;
}

div.item:hover{
  cursor:pointer;
  background-color: 	#b0e0e6;
}

div.mainblk{
  padding-top:50px;
}
div.item-btn-group{
  text-align: right;
}

div.menu{
  padding:30px;
  border-radius: 10px;
}

div.menu:hover{
  cursor:pointer;
  background-color: #008b8b;
}